<ion-view view-title="Add Friends">
  <ion-content>
  <a class="button icon-left ion-chevron-left button-clear button-dark" href = "#/tab/account">Back</a>
  <br>
<div class="list">

<label class="item item-input item-floating-label">
    <span class="input-label"><strong>Enter a Name or Email Address!</strong></span>
    <input type="text" placeholder="Enter a Name or Email Address!">
  </label>
		<div class="list list-inset">
		  <label class="item item-input">
		    <i class="icon ion-search placeholder-icon"></i>
		    <input type="text" placeholder="">
		  </label>
		</div><br>
		<div class="item item-divider">
    
  </div>
	    <div class="item item-avatar item-button-right" href="#">
	      <img src="img/m_face.jpg">
	      <h2>Adam Butler</h2>
	      <p>abutler12</p>
	       <button class="button button-positive">
      <i class="icon ion-plus"></i>
    </button>
	    </div>
	    	    <div class="item item-avatar item-button-right" href="#">
	      <img src="img/m_face.jpg">
	      <h2>Adam Butler</h2>
	      <p>abutler12</p>
	       <button class="button button-positive">
      <i class="icon ion-plus"></i>
    </button>
	    </div>
	    	    	    <div class="item item-avatar item-button-right" href="#">
	      <img src="img/m_face.jpg">
	      <h2>Adam Butler</h2>
	      <p>abutler12</p>
	       <button class="button button-positive">
      <i class="icon ion-plus"></i>
    </button>
	    </div>
	    	    	    <div class="item item-avatar item-button-right" href="#">
	      <img src="img/m_face.jpg">
	      <h2>Adam Butler</h2>
	      <p>abutler12</p>
	       <button class="button button-positive">
      <i class="icon ion-plus"></i>
    </button>
	    </div>
	    	    	    <div class="item item-avatar item-button-right" href="#">
	      <img src="img/m_face.jpg">
	      <h2>Adam Butler</h2>
	      <p>abutler12</p>
	       <button class="button button-positive">
      <i class="icon ion-plus"></i>
    </button>
	    </div>

</div>
    </ion-toggle>
  </ion-content>
</ion-view>