<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
<ion-content class="padding">
<button class="button button-block button-calm">
  Load previous messages
</button>
<div class="item" ng-repeat='chatdetail in chat.chatdetails'>
  <div class="item item-avatar">
    <img ng-src="{{chatdetail.face}}" style="width: 64px; height: 64px">
    <h2>{{chatdetail.name}}</h2>
    <p>{{chatdetail.date}}</p>
  </div>

  <div class="item item-body">
    <img class="full-image" ng-src="{{chatdetail.picture}}">
    <p>
      {{chatdetail.text}}
    </p>
    <p>
      <a href="#" class="subdued">{{chatdetail.loves}}</a>
      <a href="#" class="subdued">{{chatdetail.kisses}}</a>
      <a href="#" class="subdued">{{chatdetail.poops}}</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Love
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-heart"></i>
      Kiss
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-soup-can"></i>
      Poop
    </a>
  </div>
</div>
<a href="/#/camera">
<button class="button button-block button-calm">
Add new message
</button>
</a>
</ion-content>
</ion-view>
