<ion-view view-title="My Friends">
<ion-content>
<button class="button button-block button-positive">
  Add Close Ones
</button>

<div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search">
</label>
</div><br>
<div class="list">
    <div class="item item-divider">
        A
    </div>
    <div class="item item-avatar" href="#">
      <img src="img/m_face.jpg">
      <h2>Adam Butler</h2>
      <p>abutler12</p>
  </div>
  <div class="item item-avatar" href="#">
      <img src="img/m_face.jpg">
      <h2>Adrian Carr</h2>
      <p>carrman92</p>
  </div>
  <div class="item item-avatar" href="#">
      <img src="img/f_face.jpg">
      <h2>Alison Baker</h2>
      <p>alisonrb</p>
  </div>
  <div class="item item-avatar" href="#">
      <img src="img/m_face.jpg">
      <h2>Anthony Dyer</h2>
      <p>adyer</p>
  </div>
  <div class="item item-avatar" href="#">
      <img src="img/f_face.jpg">
      <h2>Ava Clark</h2>
      <p>MissAva</p>
  </div>
  <div class="item item-divider">
    B
</div>
<div class="item item-avatar" href="#">
  <img src="img/m_face.jpg">
  <h2>Benjamin Davies</h2>
  <p>bdavies</p>
</div>
<div class="item item-avatar" href="#">
  <img src="img/m_face.jpg">
  <h2>Blake Henderson</h2>
  <p>henderson12</p>
</div>
<div class="item item-avatar" href="#">
  <img src="img/m_face.jpg">
  <h2>Boris Ross</h2>
  <p>MrRoss</p>
</div>
<div class="item item-avatar" href="#">
  <img src="img/m_face.jpg">
  <h2>Brian Springer</h2>
  <p>bspringer93</p>
</div>              
</div>
</ion-toggle>
</ion-content>
</ion-view>
