<ion-view class="has-header padding" ng-controller="CameraCtrl">
  <button class="button button-energized" ng-click="addImage()">
      Add image
  </button><br><br>
  <ion-scroll>
      <img ng-repeat="image in images" ng-src="{{urlForImage(image)}}" height="200px"/>
  </ion-scroll>
</ion-view>