<ion-view view-title="Home">
<ion-content class="padding">
<div class="list card">
  <div class="item item-divider">Recent Updates</div>
  <div class="item item-body">
      <a class="item item-thumbnail-left" href="#/tab/chats/0">
        <img src="img/family.png">
        <h2>4 new pictures in Family</h2>
        <p>1 picture left till block-out. <span class="assertive">Add more now</span></p>
      </a>
      <a class="item item-thumbnail-left" href="#/tab/chats/1">
        <img src="img/britney.jpg">
        <h2>1 new picture by Britney</h2>
      </a>
      <a class="item item-thumbnail-left" href="#/tab/chats/2">
        <img src="https://pbs.twimg.com/profile_images/491274378181488640/Tti0fFVJ.jpeg">
        <h2><span class="assertive">You are blocked out of chat with Andrew</span></h2>
      </a>
  </div>
</div>

<div class="list card">
  <div class="item item-divider">More Actions</div>

  <a class="item item-icon-left" href="#/tab/chats">
    <i class="icon ion-chatboxes"></i>
    Check chats
    <span class="badge badge-assertive">5 new</span>
  </a>

  <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon ion-person-add"></i>
    Add Contact
    <span class="badge badge-stable">4</span>
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Add Group
    <span class="badge badge-stable">1</span>
  </a>

</div>
</ion-content>
</ion-view>
